.games_container{
    max-width: 1552px;
}

.games{
    position: relative;

    .games__content{
        position: relative;
        display: flex;
        justify-content: space-between;
        margin-bottom: 300px;
        z-index: 1;
        &__img{
            flex-basis: 47%;
            width: 100%;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;

            img{
                width: 100%;
                // width: 856px;
                // height: 765px;
            }
        }   

        .games__content__info{
            flex-basis: 50%;
            position: static;
            max-width: 742px;
            padding: 0 0 0 0px;

            .games__content__info-text{
                max-width: 742px;
                max-height: 500px;
                h2{
                    font-family: $fontFamileSecond;
                    max-width: 682px;
                    font-weight: 600;
                    font-size: 85px;
                    line-height: 110px;
                    letter-spacing: -0.02em;
                    margin: 0 0 0 65px ;

                    span{
                        background: $gradient-blue;
                        -webkit-text-fill-color: transparent;
                        background-clip: text;
                    }
                }

                p{
                    line-height: 30px;
                    letter-spacing: 2.3px;
                    max-width: 677px;
                    margin: 21px 0 0 73px;
                } 

                
            }
            

            .games__content__info-bottom{
                display: flex;
                align-items: flex-end;
                margin: -7px 0 0 0;
    
                a{
                    flex-basis: 45%;

                    button{
                        font-weight: 600;
                        font-size: 27px;
                        line-height: 33px;
                        color: $main-color;
        
                        border-radius: 60px 0px 60px 0;
                        padding: 23px 30px 16px 26px;
                        filter: drop-shadow(2.36275px 2.36275px 23.6275px rgba(239, 57, 255, 0.5));
        
                        background-color: rgba($color: #000000, $alpha: 0);
                        border:2px solid  blueviolet;

                        display: flex;
                        align-items: center;
        
                        position: relative;
                        left: 15px;

                        img{
                            margin-left: 18px;
                        }
                        &:hover{
                            background-color: rgb(117, 174, 32);
                        }
                    }
                }
    
                &__deco{
                    display: flex;
                    align-items: flex-end;
                    width: 100%;
                    flex-basis: 55%;
                    -webkit-user-select: none;
                    -moz-user-select: none;
                    -ms-user-select: none;    
                    margin: 0 -15px 0 0;

                    .line-block{
                        height: 23px;
                            width: 400px;
                            border-top: 2px dashed $main-color;
                            border-bottom: 2px solid $main-color;
                    }
    
                    h5{
                        font-weight: 400;
                        font-size: 19px;
                        line-height: 180%;
    
                        font-family: $fontFamileSecond;
    
                        writing-mode: vertical-rl;
                    }
                }
    
            }

        }

        
    }
    .scobca-right{
        text-align: right;
        margin-bottom: -65px;

        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
    }

    .scobca-left{
        margin-top: 8px;
        margin-left: 13px;
    

        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
    }
    .games__blur{
        position: absolute;
        // left: -300px;
        left: 0px;
        top: -200px;
        z-index: 0;
    }
}


@media(max-width: 1500px){
    
    .games{
        position: relative;

        .games__content{
            .games__content__info{

                .games__content__info-bottom{
                    margin: 10px 0 0 0;
                    &__deco{
    
                        h5{
                            font-size: 18px;
                            line-height: 180%;
                        }
    
                    }
    
                }
            }
            
        }
    }
}

@media(max-width: 1250px){
    .games{
    
        .games__content{
            justify-content: space-between;
            margin-bottom: 230px;
            &__img{
                flex-basis: 47%;
                width: 100%;
    
                img{
                    width: 100%;
                }
            }   
    
            .games__content__info{
                flex-basis: 50%;

                .games__content__info-text{
                    h2{
                        font-size: 60px;
                        line-height: 80px;
        
                        
        
                    }
        
                    p{
                        line-height: 25px;
                    }
                }
                

                .games__content__info-bottom{
                    align-items: flex-end;
        
                    a{
                        flex-basis: 45%;
                        button{
                            font-size: 17px;
                            line-height: 28px;
            
                            padding: 16px 14px;
            
                            left: 0px;
            
                            img{
                                margin-left: 16px;
                            }
                        }
                    }
        
                    &__deco{
                        align-items: flex-end;
        
                        .line-block{
                            height: 23px;
                            max-width: 400px;
                        }
        
                        h5{
                            font-size: 18px;
                            line-height: 180%;
                        }
                    }
        
                }
            }
    
            
        }
        .scobca-right{
            text-align: right;
            margin-bottom: -50px;
        }

        .scobca-left{
            margin-top: -10px;
            margin-left: -15px;
        }
    }
}

@media(max-width: 1024px){
    .games{
    
        .games__content{
            justify-content: space-between;
            flex-direction: column-reverse;
            margin-bottom: 150px;
            &__img{
                flex-basis: 47%;
                width: 80%;
                margin: 0 auto;
            }   
    
            .games__content__info{
                flex-basis: 50%;
                margin: 0 auto;
                .games__content__info-text{
                    h2{
                        font-size: 60px;
                        line-height: 80px;
        
                    }
        
                    p{
                        line-height: 25px;
                    }
                }
                

                .games__content__info-bottom{
                    align-items: flex-end;
                    flex-basis: 40%;
                    margin: -10px 0 0 0;
        
                    a{
                        flex-basis: 100%;
                            margin: 0 auto;
    
                        button{
                            font-size: 21px;
                            line-height: 25px;
            
                            padding: 16px 21px;
            
                            left: 0px;
            
                            img{
                                margin-left: 10px;
                            }
                        }
                    }
        
                    &__deco{
                        align-items: flex-end;
                            flex-basis: 100%;
        
                        .line-block{
                            height: 23px;
                            width: 350px;
                        }
        
                            h5{
                                font-size: 18px;
                                line-height: 180%;
                            }
                    }
        
                }

            }
    
            
        }
        .scobca-right{
            text-align: right;
            margin-bottom: -50px;
        }

        .scobca-left{
            margin-top: 0px;
            margin-left: -15px;
            position: relative;
            top: -20px;
        }
    }
}

@media(max-width: 600px){
    .games{
        position: relative;
    
        .games__content{
            justify-content: space-between;
            flex-direction: column-reverse;
            margin-bottom: 48px;
            &__img{
                flex-basis: 47%;
                width: 100%;
    
                img{
                    width: 100%;
                }
            }   
    
            .games__content__info{
                flex-basis: 50%;
                margin: 55px 0 0 0;

                .games__content__info-text{
                    h2{
                        font-size: 30px;
                        line-height: 39px;
                        max-width: 250px;
                        margin: 0 0 0 47px;
                    }

                    p{
                        font-size: 13px;
                        line-height: 16px;
                        text-align: center;
                        margin: 9px auto 0;
                        max-width: 284px;
                        letter-spacing: 0px;
                    }
                }
                
            
                .games__content__info-bottom{
                    align-items: flex-end;
                    margin: -11px 0 0 0;
                    flex-direction: column;
                    a{
                        flex-basis: 40%;

                        button{
                            font-size: 15px;
                            line-height: 18px;
                            padding: 7px 17px;
            
                            left: 0px;
            
                            img{
                                margin-left: 10px;
                            }
                        }
                    }
        
                    &__deco{
                        align-items: flex-end;
                        flex-basis: 60%;
        
                        .line-block{
                            margin: 0px 11px 0 3px;
                            height: 12px;
                            width: 400px;
                        }

                        h5{
                            font-size: 10px;
                            line-height: 160%;
                            margin: -18px 25px 0 0;
                        }
                    }
        
                }
            }
            
            
            
        }

        .scobca-right{
            position: relative;
            text-align: right;
            right: 19px;
            top: -14px;
            img{
                width: 40px;
            height: 40px;
            }
        }

        .scobca-left{
            margin-top: 1px;
            margin-left: 16px;
            img{
                width: 40px;
            height: 40px;
            }
        }
    }
}

@media(max-width: 345px){
    .games{
        .games__content{
            .games__content__info{
                .games__content__info-text{
                    h2{
                        font-size: 30px;
                        line-height: 39px;
                        max-width: 233px;
                    }

                    p{
                        font-size: 13px;
                        line-height: 16px;
                        text-align: center;
                        margin: 5px auto 0;
                        max-width: 249px;
                        letter-spacing: 0px;
                    }
                }
            }
        }
    }
}