.header {
  .header__container {
    max-width: 1920px;
    padding: 0 20px;

    .header__wrapper {
      display: flex;
      margin: 0 0 30px 0;
      padding: 29px 0 0 0px;
      transition: 0.5s;
      align-items: center;

      .header__logo {
        display: flex;
        align-items: center;
        margin: 0 0 0 40px;
        a {
          p {
            font-family: $fontFamileSecond;
            font-size: 36px;
            font-weight: 600;
            line-height: 46px;
            text-align: left;
            width: 206px;
            margin: 0 0 0 15px;
            color: $main-color;
          }
        }
      }
      .header__content {
        display: flex;
        flex-basis: 100%;
        align-items: center;
        justify-content: flex-end;
        padding: 0px 0px 0 0px;

        nav {
          display: flex;
          align-items: center;
          margin: 0 54px 0 0;

          .nav {
            display: flex;
            list-style-type: none;
            padding: 0 40px 0 0;
            margin: 0;
            border-right: 1px solid #959595;
            height: 48px;
            align-items: center;

            li {
              a {
                line-height: 27px;
                text-align: left;
                color: $main-color;
              }

              a:hover {
                color: $hover-color;
              }

              &:nth-child(2) {
                margin: 0 40px;
              }
              &:nth-child(4) {
                margin: 0 0px 0 40px;
              }
            }
          }
          .header__dropdown {
            margin: 0 0 0 40px;
            .dropdown__body {
              // position: absolute;
              top: 10px;
              right: 30px;

              .select {
                font-size: 18px;
                padding: 7px;
                padding: 3px;
              }
            }
          }

          .header__content__link {
            margin: 0 0 0 20px;
          }
        }
      }

      .burger {
        display: none;
        cursor: pointer;

        .humb {
          display: block;
          width: 30px;
          height: 3px;
          background-color: $main-color;
          margin: 6px 0px;
          transition: 0.3s;
        }
      }

      .burger.active .humb:nth-child(2) {
        opacity: 0;
      }

      .burger.active .humb:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
      }

      .burger.active .humb:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
      }
    }
  }
}

@media (max-width: 1440px) {
  .header {
    .header__container {
      .header__wrapper {
        display: flex;
        margin: 0 0 30px 0;
        padding: 29px 0 0 0px;
        transition: 0.5s;

        .header__logo {
          margin: 0 0 0 0px;

          a {
            img {
              width: 48px;
              height: 43px;
            }

            p {
              font-size: 28px;
              line-height: 40px;
              width: 170px;
              margin: 0 0 0 15px;
            }
          }
        }

        .header__content {
          nav {
            margin: 0 24px 0 0;

            .nav {
              padding: 0 20px 0 0;

              height: 48px;
              align-items: center;

              li {
                a {
                  line-height: 27px;
                  text-align: left;
                  color: $main-color;
                }
                &:nth-child(2) {
                  margin: 0 20px;
                }
                &:nth-child(4) {
                  margin: 0 0px 0 20px;
                }
              }
            }
            .header__dropdown {
              margin: 0 0 0 20px;
              .dropdown__body {
                // position: absolute;
                top: 10px;
                right: 30px;

                .select {
                  font-size: 18px;
                  padding: 7px;
                  padding: 3px;
                }
              }
            }
            .header__content__link {
              margin: 0 0 0 20px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  .header {
    .header__container {
      .header__wrapper {
        flex-basis: 100%;
        justify-content: space-between;
        padding: 21px 0 0 0px;

        .header__content {
          position: absolute;
          flex-direction: column;
          justify-content: start;
          text-align: center;
          top: 75px;
          width: 100%;
          height: 100vh;
          left: -100%;
          margin: 0;
          transition: 0.3s;
          padding: 0;
          nav {
            .nav {
              flex-direction: column;

              li {
                margin: 20px auto;

                a:hover {
                  color: yellow;
                }

                &:nth-child(2) {
                  margin: 0 0px;
                }
                &:nth-child(4) {
                  margin: 0 0px 0 0px;
                }
              }
            }
          }

          &-link {
            flex-direction: column;
            padding-top: 60px;
            margin: 0 auto;
            padding: 40px 0 0 0;
          }

          &.active {
            left: 0;
            background-position: top center;
            background-size: cover;
            transition: 0.3s;
            z-index: 60;
            background: #000000;
            margin: 30px 0 0 0;
          }
        }

        .burger {
          display: block;
          margin: 0 20px 0 0;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .header {
    .header__container {
      padding: 0 5px;

      .header__wrapper {
        display: flex;
        align-items: center;
        height: 110px;
        padding: 15px 0 0 0px;

        .header__logo {
          margin: 0 0 0 0px;

          a {
            img {
              width: 32px;
              height: 27px;
            }

            p {
              font-size: 23px;
              line-height: 23px;
              width: 160px;
              margin: 0 0 0 0px;
            }
          }
        }

        .header__content {
          nav {
            .nav {
              li {
                margin: 20px auto;

                a:hover {
                  color: yellow;
                }

                &:nth-child(2) {
                  margin: 0 0px;
                }

                &:nth-child(4) {
                  margin: 0 0px 0 0px;
                }
              }
            }
          }

          &-link {
            flex-direction: column;
            padding-top: 60px;
            margin: 0 auto;
            padding: 40px 0 0 0;
          }

          &.active {
            left: 0;
            background-position: top center;
            background-size: cover;
            transition: 0.3s;
            z-index: 60;
            background: #0c0b0e;
            margin: 0px 0 0 0;
          }
        }

        .burger {
          display: block;
          margin: 0 20px 0 0;
        }
      }
    }
  }
}

@media (max-width: 425px) {
  .header {
    .header__container {
      .header__wrapper {
        display: flex;
        align-items: center;
        height: 61px;
        padding: 10px 0 0 6px;

        .header__logo {
          margin: 3px 0 0 0px;

          a {
            img {
              width: 32px;
              height: 27px;
            }
            p {
              font-size: 16px;
              line-height: 23px;
              width: 120px;
              margin: 0 0 0 2px;
            }
          }
        }

        .burger {
          margin: 3px 8px 0 0;

          .humb {
            display: block;
            width: 30px;
            height: 3px;
            margin: 6px 0px;
            transition: 0.3s;
          }
        }
      }
    }
  }
}
