.hero__container{
    max-width: 1555px;
}
.hero{
    margin-top: 82px;
    margin-bottom: 90px;

    .hero__content{
        display: flex;
        
        &__left{

            &-title{
                font-family: $fontFamileSecond;
                font-size: 147px;
                font-weight: 600;
                line-height: 191px;
                text-align: left;
                background: $gradient-blue-pink;
                -webkit-text-fill-color: transparent;
                background-clip: text;
            }

            &-sub-title{
                font-size: 48px;
                line-height: 58px;
                text-align: left;   
                max-width: 800px;
                margin: 20px 0 27px 0;
            }
            &-text{
                font-size: 37px;
                font-weight: 400;
                line-height: 45px;
                text-align: left;
                color: #959595;

            }

            &-btn{
                margin: 57px 0 0 0;
                
            }
        }
    }
}

@media(max-width:1530px){
    .hero{
        margin-top: 82px;
        margin-bottom: 20px;

        .hero__content{
            display: flex;
            
            &__left{
    
                &-title{
                    font-size: 127px;
                    line-height: 171px;
                }
    
                &-sub-title{
                    font-size: 43px;
                    line-height: 53px;
                    max-width: 800px;
                    margin: 20px 0 27px 0;
                }
                
                &-text{
                    font-size: 32px;
                    line-height: 40px;
    
                }
            }

            &__right{

                img{
                    width: 545px;
                    height: 545px;
                }

            }
        }
    }
}


@media(max-width:1315px){
    .hero{
        margin-top: 82px;
        margin-bottom: 20px;

        .hero__content{
            display: flex;
            
            &__left{
    
                &-title{
                    font-size: 107px;
                    line-height: 141px;
                }
            }

            &__right{

                img{
                    width: 445px;
                    height: 445px;
                }

            }
        }
    }
}

@media(max-width:1090px){
    .hero{
        margin-top: 62px;
        margin-bottom: 20px;

        .hero__content{
            display: flex;
            
            &__left{
    
                &-title{
                    font-size: 87px;
                    line-height: 101px;
                }

                &-sub-title{
                    font-size: 37px;
                    line-height: 45px;
                    max-width: 800px;
                    margin: 20px 0 27px 0;
                }

                &-text{
                    font-size: 27px;
                    line-height: 40px;
    
                }
            }

            &__right{

                img{
                    width: 400px;
                    height: 400px;
                }

            }
        }
    }
}

@media(max-width:1090px){
    .hero{
        margin-top: 12px;
        margin-bottom: 20px;

        .hero__content{
            display: flex;
            
            &__left{
    
                &-title{
                    font-size: 67px;
                    line-height: 81px;
                }

                &-sub-title{
                    font-size: 30px;
                    line-height: 45px;
                    max-width: 800px;
                    margin: 20px 0 27px 0;
                }

                &-text{
                    font-size: 23px;
                    line-height: 40px;
    
                }
            }

            &__right{

                img{
                    width: 300px;
                    height: 300px;
                }

            }
        }
    }
}

@media(max-width: 940px){
    .hero {order:1;}
}

@media(max-width:768px){
    .hero{
        margin-top: 12px;
        margin-bottom: 20px;

        .hero__content{
            display: flex;
            
            &__left{
    
                &-title{
                    font-size: 55px;
                    line-height: 72px;
                }

                &-sub-title{
                    font-size: 22px;
                    line-height: 27px;
                    max-width: 800px;
                    margin: 20px 0 27px 0;
                }

                &-text{
                    font-size: 20px;
                    line-height: 24px;
    
                }
            }

            &__right{

                img{
                    width: 256px;
                    height: 256px;
                }

            }
        }
    }
}

@media(max-width:620px){
    .hero{
        margin-top: 12px;
        margin-bottom: 20px;

        .hero__content{
            flex-direction: column-reverse;
            
            &__left{
                

                &-title{
                    font-size: 55px;
                    line-height: 72px;
                    text-align: center;
                    margin: 13px 0 0 0;
                }

                &-sub-title{
                    font-size: 22px;
                    line-height: 27px;
                    max-width: 800px;
                    margin: 12px 0 17px 0;
                    text-align: center;
                }

                &-text{
                    font-size: 20px;
                    line-height: 24px;
                    text-align: center;
                }

                &-btn{
                    margin: 39px 0 0 0 ;
                    text-align: center;
                }
            }

            &__right{
                text-align: center;

                img{
                    width: 256px;
                    height: 256px;
                }

            }
        }
    }
}