.main-questions__container{
    max-width: 1555px;
}
.main-questions{
    margin-bottom: 150px;

    .main-questions__content{
        display: flex;

        &__left{
            flex-basis: 45%;

            h1{
                font-family: 'Chakra Petch', sans-serif;

                font-weight: 700;
                font-size: 60px;
                line-height: 78px;
                text-align: center;
                letter-spacing: 0.02em;

                background:$gradient-yellow-pink ;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                background-clip: text;
            }

            .main-questions__content__left-img{
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;

                img{
                    width: 732px;
                    // max-width: 732px;
                }
            }
        }

        &__right{
            margin: 13px 0 0 10px;
            .questions{
                flex-basis: 55%;
    
                .question-block{
                    background: #0D0D0D;
                    // box-shadow: 2px 2px 20px rgba(239, 57, 255, 0.3);
                    box-shadow: 2px 2px 20px 0px #EF39FF4D;

                    border-radius: 10px;
                    border: rgba(239, 57, 255, 0.5) 1px solid;
                    
                    filter: drop-shadow(1px 1px 5px rgba(239, 57, 255, 0.3));
    
                    padding: 30px 37px 30px 20px;
    
                    transition: 0.5s;
    
                    cursor: pointer;
    
                    .title-flex{
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
    
                        h3{
                            font-weight: 500;
                            font-size: 28px;
                            line-height: 34px;
                        }
    
                        img{
                            margin-left: 50px;
                        }
                    }
    
                    p{
                        font-weight: 400;
                        font-size: 19px;
                        line-height: 180%;
                        color: #959595;
    
                        opacity: 1;
                        transition: 0.3s;
    
                        margin-top: 3%;
                    }
                }
    
                .hide{
                    p{
                        opacity: 0;
                        font-size: 0;
                        line-height: 0;
    
                        position: absolute;
    
                        margin-top: 0;
                    }
                }
            }
    
            .questions .question-block:not(:last-child){
                margin-bottom: 28px;
            }
        }
        
    }
}

@media(max-width: 1500px){
    .main-questions{
        .main-questions__content{
            &__left{
    
                .main-questions__content__left-img{
                    img{
                        width: 100%;
                    }
                }
            }
        }
    }
}



@media(max-width: 1150px){
    .main-questions{    
        .main-questions__content{
            flex-direction: column;
    
            &__left{
                h1{
                    font-size: 50px;
                    line-height: 65px;
                }
    
                &__left-img{
                    text-align: center;

                    // img{
                    //     width: 90%;
                    // }
                }
            }

            &__right{
                .questions{
                    .question-block{
                        .title-flex{
                            h3{
                                font-size: 21px;
                                line-height: 21px;
                            }
                        }
        
                        p{
                            font-size: 16px;
                        }
                    }

                    .hide{
                        p{
                            opacity: 0;
                            font-size: 0;
        
                            margin-top: 0;
                        }
                    }
                }
                .questions .question-block:not(:last-child){
                    margin-bottom: 24px;
                }
            }
        }
    }
}

@media(max-width: 600px){
    .main-questions{    
        margin-bottom: 150px;

        .main-questions__content{
            flex-direction: column;
    
            &__left{
                margin-bottom: 25px;
                
                overflow: hidden;

                h1{
                    font-size: 30px;
                    line-height: 39px;
                    letter-spacing: 2%;
                }

                &__left-img{
                    width: 160%;

                    position: relative;
                    right: 30%;
                }
            }


            &__right{
                .questions{
                    .question-block{
                        padding: 15px 13px;

                        .title-flex{
                            h3{
                                font-size: 14px;
                                line-height: 17px;
                            }

                            img{
                                width: 7%;

                                margin-left: 50px;
                            }
                        }
        
                        p{
                            font-size: 12px;
                            line-height: 15px;
                        }
                    }

                    .hide{
                        p{
                            opacity: 0;
                            font-size: 0;
        
                            margin-top: 0;
                        }
                    }
                }
                .questions .question-block:not(:last-child){
                    margin-bottom: 14px;
                }
            }
        }
    }
}

@media(max-width: 478px){
    .main-questions{
        .main-questions__content{
            &__left{
    
                .main-questions__content__left-img{
                    img{
                        width: 365px;
                    }
                }
            }
        }
    }
}