.partner{
    margin-bottom: 139px;
    display: flex;
    position: relative;
    // z-index: -2;

    .swiper-container{
        max-width: 95vw;
        margin: 0 auto;
        overflow: hidden;

        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;

        .swiper-wrapper{
            align-items: center;
        }

        .swiper-slide{

            img{
                width: 110%;
                height: 84%;
            }
        }
    }
}

@media(max-width: 940px){
    .partner{
        margin-bottom: 48px;
    }
}





@media(max-width: 508px){
    .partner{
        margin-bottom: 8px;

        .swiper-container{
    
            .swiper-wrapper{
                align-items: center;
            }
    
            .swiper-slide{
    
                img{
                    width: 98%;
                    height: 95%;
                }
            }
        }
    }
}