<div class="contact-us">
    <img class="coin-left" src="src/img/main_contact-us_coin-left.svg" alt="coin-left">

    <div class="container">

        <div class="contact-us__content">
            <h2>Contact Us</h2>

            <div class="forms">
                <form action="">
                    <input placeholder="Name" class="input" type="text" id="contact-name" placeholder=" ">
                </form>

                <form action="">
                    <input placeholder="Mail" type="email" id="contact-mail">
                </form>

                <form action="">
                    <input placeholder="Your message" type="text" id="contact-message">
                </form>
            </div>

            <a href="#"><button class="button">Send</button></a>
        </div>
    </div>

    <img class="coin-right" src="src/img/main_contact-us_coin-right.svg" alt="coin-right">

</div>
