<footer class="footer">
  <div class="container footer__container">
    <div class="content">

      <div class="footer-content">

        <div class="footer-top">
          <a href="index.html">
            <div class="footer-logo-adapt">
              <div class="logo-adapt_img">
                <img src="/src/img/footer-logo.png" alt="footer-logo" />
              </div>

              <h3>Finity Touch</h3>
            </div>
          </a>
          <div class="footer__menu__content">
             <div class="menu-flex">
                <menu>
                    <a href="/Finity-Touch/">Home</a>
                    <a href="#">Marketplace</a>
                    <a href="/Finity-Touch/token/">Token</a>
                    <a href="/Finity-Touch/fund/">Fund</a>
                </menu>

                <div class="line"></div>

                <div class="footer__dropdown dropdown">
                  <div class="dropdown__body">
                      <select class="select" name="select" id="">
                        <option class="select__option" value="value1" selected>
                            EN
                        </option>
                        <option class="select__option" value="value2">RU</option>
                      </select>
                  </div>
                </div>
            </div>

            <div class="footer__menu__button">
              <a href="" class="menu__btn-contact-us link-contact-us"><span>Contact Us</span></a>
              <a href="" class="menu__btn-buy-token link-buy-token"><span>Buy Token</span></a>
            </div>
          </div>
           

          
        </div>

        <div class="footer-bottom">
          <div class="footer-logo">
            <img src="/src/img/footer-logo.png" alt="footer-logo" />

            <h3>Finity Touch</h3>
          </div>

          <div class="footer-text">
            This website is maintained by Tihon Belenkiy. The contents and
            opinions of this website are those of Finity Touch.
            Finity Touch provides links to cryptocurrency exchanges as a service
            to the public
          </div>
        </div>

      </div>

      <div class="footer-img">
        <img class="blur" src="/src/img/blurs/footer_blur.svg" alt="footer_deco" />
        <img src="/src/img/footer_coin.png" alt="footer_coin" />

      </div>

    </div>
  </div>

</footer>