<section class="games">
    <div class="container games_container">
        <div class="games__content">
            
            
            <div class="games__content__info">

                <div class="games__content__info-text">
                    <h2>Get <span>grant</span> from <span>Finity Foundation</span>
                    </h2>

                    <p>
                        We engage Web 3.0 developers to improve the Finnity Touch ecosystem. Finity Touch is ready to support your unique ideas, help in the development and marketing strategy of your product.
                    </p>
                </div>
                

                <div class="games__content__info-bottom">
                    <a href="#">
                        <button class="button">
                            Find out more
                            <img src="./src/img/main_right-arrow.png" alt="right-arrow">
                        </button>
                    </a>

                    <div class="games__content__info-bottom__deco">
                        <div class="line-block"></div>
                        <h5>PRODUCT 01</h5>
                    </div>
                </div>   

            </div>

            <div class="games__content__img">
                <img src="./src/img/games.png" alt="grant">
            </div>

        </div>
    </div>
</section>