<section class="games">
    <div class="container games_container">
        <div class="games__content">
            
            
            <div class="games__content__info">
                <div class="games__blur">
                    <img src="src/img/blurs/games__blur.svg" alt="">
                </div>

                <div class="scobca-right">
                            <img src="./src/img/main_scobca-right.png" alt="scobca-right">
                        </div>


                <div class="games__content__info-text">
                    <h2>Play <span>games</span> of the <span>Future</span>
                       
                    </h2>

                    <p>
                        We strive to create a broad and integrated ecosystem of gaming enthusiasts and passionate developers. We focus on games using blockchain technology. This allows players to earn money and own their items in the form of NFT.                    
                    </p>
                </div>

                <div class="scobca-left">
                            <img src="./src/img/main_scobca-left.png" alt="scobca-left">
                        </div>        

                <div class="games__content__info-bottom">
                    <a href="#">
                        <button class="button">
                            Find out more
                            <img src="./src/img/main_right-arrow.png" alt="right-arrow">
                        </button>
                    </a>

                    <div class="games__content__info-bottom__deco">
                        <div class="line-block"></div>
                        <h5>PRODUCT 01</h5>
                    </div>
                </div>   

            </div>

            <div class="games__content__img">
                {{!-- <img src="./src/img/games.png" alt="grant"> --}}
                <img src="./src/img/games.webp" alt="grant">
            </div>

        </div>
    </div>
</section>