<section class="grant">
    <div class="container grant_container">
        <div class="grant__blur">
                            <img src="src/img/blurs/grant__blur.svg" alt="">
                        </div>
        <div class="grant__content">
            
            <picture  class="grant__content__img">
                <source srcset="./src/img/grant.webp" type="image/webp">
                <img src="./src/img/grant.png" alt="">
            </picture>
            <div class="grant__content__info">
                
                <div class="scobca-right">
                            <img src="./src/img/main_scobca-right.png" alt="scobca-right">
                        </div>

                <div class="grant__content__info-text">
                    <h2>Get <span>grant</span> from <span>Finity Foundation</span>
                    </h2>

                    <p>
                        We engage Web 3.0 developers to improve the Finnity Touch ecosystem. Finity Touch is ready to support your unique ideas, help in the development and marketing strategy of your product.
                    </p>
                </div>
                
                <div class="scobca-left">
                            <img src="./src/img/main_scobca-left.png" alt="scobca-left">
                        </div>

                <div class="grant__content__info-bottom">
                    <a href="#">
                        <button class="button">
                            Find out more
                            <img src="./src/img/main_right-arrow.png" alt="right-arrow">
                        </button>
                    </a>

                    <div class="grant__content__info-bottom__deco">
                        <div class="line-block"></div>
                        <h5>PRODUCT 01</h5>
                    </div>
                </div>   

            </div>
        </div>
    </div>
</section>