<header class="header" > 

    <div class="container header__container">
        <div class="header__wrapper"> 

            <div class="header__logo">
                <img src="/src/img/icons/logo.svg" alt="" class="logo__img">
                <a href=""><p>Finity Touch</p></a>
            </div>

            <div class="header__content">
                <nav>
                    <ul class="nav">
                        <li><a class="nav-link" href="/Finity-Touch/">Home</a></li>
                        <li><a class="nav-link" href="#">Marketplace</a></li>
                        <li><a  class="nav-link" href="/Finity-Touch/token/">Token</a></li>
                        <li><a  class="nav-link" href="/Finity-Touch/fund/">Fund</a></li>
                    </ul>

                    <div class="header__dropdown dropdown">
                        <div class="dropdown__body">
                            <select class="select" name="select" id="select">
                                <option class="select__option" value="value1" selected> EN </option>
                                <option class="select__option" value="value2">RU</option>
                            </select>
                        </div>
                    </div>
                </nav>

               <div class="header__content__link">
                    <a href="" class="content__link-contact link-contact-us"><span>Contact Us</span></a>
                    <a href="" class="content__link-buy-token link-buy-token"><span>Buy Token</span></a>
                </div>
            </div>

            <div class="burger">
                <span class="humb"></span>
                <span class="humb"></span>
                <span class="humb"></span>
            </div>
        </div>
   
    </div>
</header>