<section class="hero">
    <div class="container hero__container">
        <div class="hero__content">
            <div class="hero__content__left">
                <h1 class="hero__content__left-title">Finity Touch</h1>
                <h3 class="hero__content__left-sub-title">
                    Creating an ecosystem WEB 3.0 that you really want to use
                </h3>
                <p class="hero__content__left-text">
                    Finity Touch creates the infrastructure for a secure and innovative future
                </p>
                <div class="hero__content__left-btn">
                    <a href="" class="content__link-contact link-contact-us">
                        <span>Contact Us</span>
                    </a>

                    <a href="" class="content__link-buy-token link-buy-token">
                        <span>Buy Token</span>
                    </a>
                </div>
            </div>
            {{!-- <div class="hero__content__right">
                <img src="./src/img/main-hero-coin.png" alt="">
                <img src="./src/img/main-hero-coin.webp" alt="">
            </div> --}}
            <picture class="hero__content__right">
                <source srcset="./src/img/main-hero-coin.webp" type="image/webp">
                <img src="./src/img/main-hero-coin.png" alt="">
            </picture>
            
        </div>
    </div>
</section>