
<div class="idea">
    <div class="container idea__container">
        <div class="idea__content">

                <h1>Designed with the <span>idea</span></h1>

                <div class="swiper-container idea_swiper-container">
                    <div class="swiper-wrapper">

                        <div class="swiper-slide">
                            <div class="slide-content">
                                <img src="./src/img/icons/marketplace.svg" alt="marketplace">

                                <h3>Marketplace</h3>
    
                                <p>
                                    Discover the world of unique and exclusive NFT with the new Finity Touch trading platform
                                </p>
    
                                <button class="button">More</button>
                            </div>
                        </div>

                        <div class="swiper-slide">
                            <div class="slide-content">
                                <img src="./src/img/icons/fund.svg" alt="fund">

                                <h3>Fund</h3>
    
                                <p>
                                    Finity Touch Foundation provides an opportunity to get maximum support for new ideas in the world of Web 3.0
                                </p>
    
                                <button class="button">More</button>
                            </div>
                        </div>

                        <div class="swiper-slide">
                            <div class="slide-content">
                                <img src="./src/img/icons/games.svg" alt="games">

                                <h3>Games</h3>
    
                                <p>
                                    Play using the Finity token and have fun earning money. Your success is only in your hands!
                                </p>
    
                                <button class="button">More</button>
                            </div>
                        </div>

                        <div class="swiper-slide">
                            <div class="slide-content">
                                <img src="./src/img/icons/token.svg" alt="token">

                                <h3>Token</h3>
    
                                <p>
                                    This is an asset that feeds the Finity Touch ecosystem and ensures the development of existing projects.
                                </p>
    
                                <button class="button">More</button>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
    </div>
            
</div>