<section class="nft">
    <div class="container nft_container">
        <div class="nft__content">
            <div class="nft__content__img">
                <img src="./src/img/nft.png" alt="nft">
            </div>
            
            <div class="nft__content__info">

                <div class="scobca-right">
                            <img src="./src/img/main_scobca-right.png" alt="scobca-right">
                        </div>

                <div class="nft__content__info-text">
                    <h2>Trade <span>NFT</span> with a new  <span>Marketplace</span>
                      
                    </h2>

                    <p>
                        The Finite Market is designed to trade new types of digital goods. You can buy, sell and participate in NFT auctions just like in real life. All non-fungible tokens in Finity Market are unique and can be used on FT platforms.
                    </p>
                </div>
                
                <div class="scobca-left">
                            <img src="./src/img/main_scobca-left.png" alt="scobca-left">
                        </div>

                <div class="nft__content__info-bottom">
                    <a href="#">
                        <button class="button">
                            Find out more
                            <img src="./src/img/main_right-arrow.png" alt="right-arrow">
                        </button>
                    </a>

                    <div class="nft__content__info-bottom__deco">
                        <div class="line-block"></div>
                        <h5>PRODUCT 01</h5>
                    </div>
                </div>   

            </div>
        </div>
    </div>
</section>