<div class="partner">

            <div class="partner_slider-block swiper-container">
                <div class="swiper-wrapper">

                    <div class="swiper-slide">
                        <img src="./src/img/partner-1.png" alt="section-4_partner-1">
                    </div>

                    <div class="swiper-slide">
                        <img src="./src/img/partner-2.png" alt="section-4_partner-2">
                    </div>

                    <div class="swiper-slide">
                        <img src="./src/img/partner-3.png" alt="section-4_partner-3">
                    </div>

                    <div class="swiper-slide">
                        <img src="./src/img/partner-4.png" alt="section-4_partner-4">
                    </div>

                    <div class="swiper-slide">
                        <img src="./src/img/partner-5.png" alt="section-4_partner-5">
                    </div>

                    <div class="swiper-slide">
                        <img src="./src/img/partner-6.png" alt="section-4_partner-6">
                    </div>

                    <div class="swiper-slide">
                        <img src="./src/img/partner-7.png" alt="section-4_partner-7">
                    </div>
                    

                </div>
            </div>

        </div>