<div class="section-2"> 
    <div class="section-2__container container">

                <div class="block-flex grant">
                    <div class="block-flex_img">
                        <img src="./src/img/grant.png" alt="grant">
                    </div>

                    <div class="block-flex_info">
                        {{!-- <div class="deco">
                            <img src="source/img/main_section-2_block-1_deco.svg" alt="">
                        </div> --}}

                        <div class="scobca-right">
                            <img src="./src/img/main_scobca-right.png" alt="scobca-right">
                        </div>

                        <div class="block-flex_text">
                            <h2>Get <span>grant</span> from <span>Finity Foundation</span></h2>

                            <p>
                                We engage Web 3.0 developers to improve the Finnity Touch ecosystem. Finity Touch is ready to support your unique ideas, help in the development and marketing strategy of your product.
                            </p>
                        </div>

                        <div class="scobca-left">
                            <img src="./src/img/main_scobca-left.png" alt="scobca-left">
                        </div>

                        <div class="footer-info">
                            <a href="#"><button class="button">
                                Find out more
                                <img src="./src/img/main_right-arrow.png" alt="right-arrow">
                            </button></a>

                            <div class="footer-info_deco">
                                <div class="line-block"></div>

                                <h5>PRODUCT 01</h5>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="block-flex games">
                    <div class="block-flex_info">
                        {{!-- <div class="deco">
                            <img src="source/img/main_section-2_block-2_deco.svg" alt="">
                        </div> --}}

                        <div class="scobca-right">
                            <img src="./src/img/main_scobca-right.png" alt="scobca-right">
                        </div>

                        <div class="block-flex_text">
                            <h2>Play <span>games</span> of the <span>Future</span></h2>

                            <p>
                                We strive to create a broad and integrated ecosystem of gaming enthusiasts and passionate developers. We focus on games using blockchain technology. This allows players to earn money and own their items in the form of NFT.
                            </p>
                        </div>

                        <div class="scobca-left">
                            <img src="./src/img/main_scobca-left.png" alt="scobca-left">
                        </div>

                        <div class="footer-info">
                            <a href="#"><button class="button">
                                Find out more
                                <img src="./src/img/main_right-arrow.png" alt="right-arrow">
                            </button></a>

                            <div class="footer-info_deco">
                                <div class="line-block"></div>

                                <h5>PRODUCT 02</h5>
                            </div>
                        </div>
                    </div>

                    <div class="block-flex_img">
                        <img src="./src/img/games.png" alt="section-2_block-2">
                    </div>
                </div>

                <div class="block-flex nft">
                    <div class="block-flex_img">
                        <img src="./src/img/nft.png" alt="section-2_block-3">
                    </div>

                    <div class="block-flex_info">
                        {{!-- <div class="deco">
                            <img src="source/img/main_section-2_block-3_deco.svg" alt="">
                        </div> --}}

                        <div class="scobca-right">
                            <img src="./src/img/main_scobca-right.png" alt="scobca-right">
                        </div>

                        <div class="block-flex_text">
                            <h2>Trade <span>NFT</span> with a new <span>Marketplace</span></h2>

                            <p>
                                The Finite Market is designed to trade new types of digital goods. You can buy, sell and participate in NFT auctions just like in real life. All non-fungible tokens in Finity Market are unique and can be used on FT platforms.
                            </p>
                        </div>

                        <div class="scobca-left">
                            <img src="./src/img/main_scobca-left.png" alt="scobca-left">
                        </div>

                        <div class="footer-info">
                            <a href="#"><button class="button">
                                Find out more
                                <img src="./src/img/main_right-arrow.png" alt="right-arrow">
                            </button></a>

                            <div class="footer-info_deco">
                                <div class="line-block"></div>

                                <h5>PRODUCT 03</h5>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>        