<section class="social-media">
    <div class="container">
        <div class="content">
            <div class="social-media__content-title">
                <h1>
                    Follow Us On Social Media
                </h1>
            </div>
            

            <picture  class="social-media__content-img">
                <source srcset="/src/img/social-media.webp" type="image/webp">
                <img src="/src/img/social-media.png" alt="">
            </picture>
        </div>
    </div>

</section>