<section class="social-media">
    <div class="container">
        <div class="content">
            <div class="social-media__content-title">
                <h1>
                    Follow Us On Social Media
                </h1>
            </div>
            <div class="social-media__content-img">
                {{!-- <img src="/src/img/social-media.png" alt=""> --}}
                <img src="/src/img/social-media.webp" alt="">
            </div>
        </div>
    </div>

</section>