<div class="team">
            <div class="team__blurs blur-left">
                <img src="src/img/blurs/team__blur-1.svg" alt="section-3_deco-1">
            </div>

            <div class="team__blurs blur-right">
                <img src="src/img/blurs/team__blur-2.svg" alt="section-3_deco-2">
            </div> 
    <div class="team__container container">
            <div class="team__content ">

                <h1>Our Team</h1>

                <div class="team__wrapper">

                    <div class="team-row row-top">
                        <div class="team-card">
                            <img src="src/img/team-1.jpg" alt="team-1">

                            <h3>Tigran Chobanian</h3>

                            <h5>Founder & CFO</h5>

                            <div class="icons-flex">
                                <a href="#"><img src="src/img/icons/team-icon-1.svg" alt="linkedin"></a>
                                <a href="#"><img src="src/img/icons/team-icon-2.svg" alt="instagram"></a>
                                <a href="#"><img src="src/img/icons/team-icon-3.svg" alt="telegram"></a>
                                <a href="#"><img src="src/img/icons/team-icon-4.svg" alt="twitter"></a>
                            </div>
                        </div>

                        <div class="team-card">
                            <img src="src/img/team-2.jpg" alt="team-2">

                            <h3>Daniel Aushev</h3>

                            <h5>Co-Founder and CMO</h5>

                            <div class="icons-flex">
                               <a href="#"><img src="src/img/icons/team-icon-1.svg" alt="linkedin"></a>
                                <a href="#"><img src="src/img/icons/team-icon-2.svg" alt="instagram"></a>
                                <a href="#"><img src="src/img/icons/team-icon-3.svg" alt="telegram"></a>
                                <a href="#"><img src="src/img/icons/team-icon-4.svg" alt="twitter"></a>
                            </div>
                        </div>

                        <div class="team-card">
                            <img src="src/img/team-3.jpg" alt="team-3">

                            <h3>Erik Anastasian</h3>

                            <h5>Co-Founder Product Manager</h5>

                            <div class="icons-flex">
                                <a href="#"><img src="src/img/icons/team-icon-1.svg" alt="linkedin"></a>
                                <a href="#"><img src="src/img/icons/team-icon-2.svg" alt="instagram"></a>
                                <a href="#"><img src="src/img/icons/team-icon-3.svg" alt="telegram"></a>
                                <a href="#"><img src="src/img/icons/team-icon-4.svg" alt="twitter"></a>
                            </div>
                        </div>

                        <div class="team-card">
                            <img src="src/img/team-4.jpg" alt="team-4">

                            <h3>Daniel Hrinberh</h3>

                            <h5>Co-Founder & CEO</h5>

                            <div class="icons-flex">
                                <a href="#"><img src="src/img/icons/team-icon-1.svg" alt="linkedin"></a>
                                <a href="#"><img src="src/img/icons/team-icon-2.svg" alt="instagram"></a>
                                <a href="#"><img src="src/img/icons/team-icon-3.svg" alt="telegram"></a>
                                <a href="#"><img src="src/img/icons/team-icon-4.svg" alt="twitter"></a>
                            </div>
                        </div>
                    </div>

                    <div class="team-row">
                        <div class="team-card">
                            <img src="src/img/team-5.jpg" alt="team-5">

                            <h3>Karen Shehunts</h3>

                            <h5>Strategic Advisor</h5>

                            <div class="icons-flex">
                                <a href="#"><img src="src/img/icons/team-icon-1.svg" alt="linkedin"></a>
                                <a href="#"><img src="src/img/icons/team-icon-2.svg" alt="instagram"></a>
                                <a href="#"><img src="src/img/icons/team-icon-3.svg" alt="telegram"></a>
                                <a href="#"><img src="src/img/icons/team-icon-4.svg" alt="twitter"></a>
                            </div>
                        </div>

                        <div class="team-card">
                            <img src="src/img/team-6.jpg" alt="team-6">

                            <h3>Tihon Belenkiy</h3>

                            <h5>UI/UX Designer</h5>

                            <div class="icons-flex">
                                <a href="#"><img src="src/img/icons/team-icon-1.svg" alt="linkedin"></a>
                                <a href="#"><img src="src/img/icons/team-icon-2.svg" alt="instagram"></a>
                                <a href="#"><img src="src/img/icons/team-icon-3.svg" alt="telegram"></a>
                                <a href="#"><img src="src/img/icons/team-icon-4.svg" alt="twitter"></a>
                            </div>
                        </div>

                        <div class="team-card">
                            <img src="src/img/team-7.jpg" alt="team-7">

                            <h3>Vladimir Kucher</h3>

                            <h5>Back-End Developer</h5>

                            <div class="icons-flex">
                               <a href="#"><img src="src/img/icons/team-icon-1.svg" alt="linkedin"></a>
                                <a href="#"><img src="src/img/icons/team-icon-2.svg" alt="instagram"></a>
                                <a href="#"><img src="src/img/icons/team-icon-3.svg" alt="telegram"></a>
                                <a href="#"><img src="src/img/icons/team-icon-4.svg" alt="twitter"></a>
                            </div>
                        </div>

                        <div class="team-card">
                            <img src="src/img/team-8.jpg" alt="team-8">

                        <h3>Artem Prokopchuk</h3>

                        <h5>3D Artist</h5>

                        <div class="icons-flex">
                            <a href="#"><img src="src/img/icons/team-icon-1.svg" alt="linkedin"></a>
                            <a href="#"><img src="src/img/icons/team-icon-2.svg" alt="instagram"></a>
                            <a href="#"><img src="src/img/icons/team-icon-3.svg" alt="telegram"></a>
                            <a href="#"><img src="src/img/icons/team-icon-4.svg" alt="twitter"></a>
                        </div>
                        </div>
                    </div>
                    
                </div>

                    <div class="nav-left nav">
                        <img src="src/img/icons/team_nav-left.svg" alt="nav-left">
                    </div>

                <div class="swiper-container team__swiper-container" slides-per-view="3" grid-rows="2" space-between="30">
                    <div class="swiper-wrapper">

                        <div class="swiper-slide">
                            <img src="src/img/team-1.jpg" alt="team-1">

                            <h3>Tigran Chobanian</h3>

                            <h5>Founder & CFO</h5>

                            <div class="icons-flex">
                                <a href="#"><img src="src/img/icons/team-icon-1.svg" alt="linkedin"></a>
                                <a href="#"><img src="src/img/icons/team-icon-2.svg" alt="instagram"></a>
                                <a href="#"><img src="src/img/icons/team-icon-3.svg" alt="telegram"></a>
                                <a href="#"><img src="src/img/icons/team-icon-4.svg" alt="twitter"></a>
                            </div>
                        </div>

                        <div class="swiper-slide">
                            <img src="src/img/team-2.jpg" alt="team-2">

                            <h3>Daniel Aushev</h3>

                            <h5>Co-Founder and CMO</h5>

                            <div class="icons-flex">
                                <a href="#"><img src="src/img/icons/team-icon-1.svg" alt="linkedin"></a>
                                <a href="#"><img src="src/img/icons/team-icon-2.svg" alt="instagram"></a>
                                <a href="#"><img src="src/img/icons/team-icon-3.svg" alt="telegram"></a>
                                <a href="#"><img src="src/img/icons/team-icon-4.svg" alt="twitter"></a>
                            </div>
                        </div>

                        <div class="swiper-slide">
                            <img src="src/img/team-3.jpg" alt="team-3">

                            <h3>Erik Anastasian</h3>

                            <h5>Co-Founder Product Manager</h5>

                            <div class="icons-flex">
                                <a href="#"><img src="src/img/icons/team-icon-1.svg" alt="linkedin"></a>
                                <a href="#"><img src="src/img/icons/team-icon-2.svg" alt="instagram"></a>
                                <a href="#"><img src="src/img/icons/team-icon-3.svg" alt="telegram"></a>
                                <a href="#"><img src="src/img/icons/team-icon-4.svg" alt="twitter"></a>
                            </div>
                        </div>

                        <div class="swiper-slide">
                            <img src="src/img/team-4.jpg" alt="team-4">

                            <h3>Daniel Hrinberh</h3>

                            <h5>Co-Founder & CEO</h5>

                            <div class="icons-flex">
                                <a href="#"><img src="src/img/icons/team-icon-1.svg" alt="linkedin"></a>
                                <a href="#"><img src="src/img/icons/team-icon-2.svg" alt="instagram"></a>
                                <a href="#"><img src="src/img/icons/team-icon-3.svg" alt="telegram"></a>
                                <a href="#"><img src="src/img/icons/team-icon-4.svg" alt="twitter"></a>
                            </div>
                        </div>

                        <div class="swiper-slide">
                            <img src="src/img/team-5.jpg" alt="team-5">

                            <h3>Karen Shehunts</h3>

                            <h5>Strategic Advisor</h5>

                            <div class="icons-flex">
                                <a href="#"><img src="src/img/icons/team-icon-1.svg" alt="linkedin"></a>
                                <a href="#"><img src="src/img/icons/team-icon-2.svg" alt="instagram"></a>
                                <a href="#"><img src="src/img/icons/team-icon-3.svg" alt="telegram"></a>
                                <a href="#"><img src="src/img/icons/team-icon-4.svg" alt="twitter"></a>
                            </div>
                        </div>

                        <div class="swiper-slide">
                            <img src="src/img/team-6.jpg" alt="team-6">

                            <h3>Tihon Belenkiy</h3>

                            <h5>UI/UX Designer</h5>

                            <div class="icons-flex">
                                <a href="#"><img src="src/img/icons/team-icon-1.svg" alt="linkedin"></a>
                                <a href="#"><img src="src/img/icons/team-icon-2.svg" alt="instagram"></a>
                                <a href="#"><img src="src/img/icons/team-icon-3.svg" alt="telegram"></a>
                                <a href="#"><img src="src/img/icons/team-icon-4.svg" alt="twitter"></a>
                            </div>
                        </div>

                        <div class="swiper-slide">
                            <img src="src/img/team-7.jpg" alt="team-7">

                            <h3>Vladimir Kucher</h3>

                            <h5>Back-End Developer</h5>

                            <div class="icons-flex">
                                <a href="#"><img src="src/img/icons/team-icon-1.svg" alt="linkedin"></a>
                                <a href="#"><img src="src/img/icons/team-icon-2.svg" alt="instagram"></a>
                                <a href="#"><img src="src/img/icons/team-icon-3.svg" alt="telegram"></a>
                                <a href="#"><img src="src/img/icons/team-icon-4.svg" alt="twitter"></a>
                            </div>
                        </div>

                        <div class="swiper-slide">
                            <img src="src/img/team-8.jpg" alt="team-8">

                            <h3>Artem Prokopchuk</h3>

                            <h5>3D Artist</h5>

                            <div class="icons-flex">
                                <a href="#"><img src="src/img/icons/team-icon-1.svg" alt="linkedin"></a>
                                <a href="#"><img src="src/img/icons/team-icon-2.svg" alt="instagram"></a>
                                <a href="#"><img src="src/img/icons/team-icon-3.svg" alt="telegram"></a>
                                <a href="#"><img src="src/img/icons/team-icon-4.svg" alt="twitter"></a>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="nav-right nav">
                    <img src="src/img/icons/team_nav-right.svg" alt="team_nav-right">
                </div>

                <a href="#"><button class="button">
                    More
                    <img src="src/img/icons/team_button-arrow.svg" alt="team_button-arrow">
                </button></a>

            </div>
    </div>
            
        </div>