<section class="fund-hero">
    <div class="container token-hero__container">
        <div class="fund-hero__content">
            {{!-- <div class="token-hero__img">
                <img src="/src/img/token-hero-coin.png" alt="main_back">
            </div> --}}

            <div class="fund-hero__blur">
                <img src="/src/img/blurs/fund_hero_blur.svg" alt="main_deco">
            </div>

            <div class="fund-hero__info">
                <h1>
                    Finity
                    <span>Fund</span>
                </h1>
                <p>
                    The Finity Foundation is a fund that fuels the development of new active projects, as well as the possibility of discovering new fragments of the ecosystem.
                </p>

                <button>
                    Leave a request
                </button>

            </div>
        </div>
    </div>
</section>