<section class="fund-questions">
    <div class="container fund-questions__container">
        <div class="fund-questions__content">
            <div class="fund-questions__content__left">
                <h1 class="fund-questions__content__left-title">
                    Frequently Asked Questions
                </h1>
                <div class="fund-questions__content__left-img">
                    <img src="/src/img/fund_questions.png" alt="fund_questions" class="fund-questions__content__left__img">

                </div>
                
            </div>

            <div class="fund-questions__content__right">
                    <div class="questions">
                        <div class="question-block hide">
                            <div class="title-flex">
                                <h3>How do I apply for consideration of my idea?</h3>

                                <img src="/src/img/main_questions_plus.png" alt="questions_plus">
                            </div>

                            <p>15% of the issue of Finity tokens is used as a monetary fund for the implementation of your ideas.</p>
                        </div>

                        <div class="question-block hide">
                            <div class="title-flex">
                                <h3>What size of investment can I get?</h3>

                                <img src="/src/img/main_questions_plus.png" alt="questions_plus">
                            </div>

                            <p>15% of the issue of Finity tokens is used as a monetary fund for the implementation of your ideas.</p>
                        </div>

                        <div class="question-block hide">
                            <div class="title-flex">
                                <h3>How is the capital formed in your fund?</h3>

                                <img src="/src/img/main_questions_plus.png" alt="questions_plus">
                            </div>

                            <p>15% of the issue of Finity tokens is used as a monetary fund for the implementation of your ideas.</p>
                        </div>

                        <div class="question-block hide">
                            <div class="title-flex">
                                <h3>Didn't find the answer to your question?</h3>

                                <img src="/src/img/main_questions_plus.png" alt="questions_plus">
                            </div>

                            <p>15% of the issue of Finity tokens is used as a monetary fund for the implementation of your ideas.</p>
                        </div>
                    </div>    

            </div>

            <div class="main-questions__content__right-mob">
                    <div class="questions">
                        <div class="question-block hide">
                            <div class="title-flex">
                                <h3>What is Finity Touch?</h3>

                                <img src="/src/img/main_questions_plus.png" alt="questions_plus">
                            </div>

                            <p>15% of the issue of Finity tokens is used as a monetary fund for the implementation of your ideas.</p>
                        </div>

                        <div class="question-block hide">
                            <div class="title-flex">
                                <h3>Where can I buy a Finity token?</h3>

                                <img src="/src/img/main_questions_plus.png" alt="questions_plus">
                            </div>

                            <p>15% of the issue of Finity tokens is used as a monetary fund for the implementation of your ideas.</p>
                        </div>

                        <div class="question-block hide">
                            <div class="title-flex">
                                <h3>Where can I buy a Finity token?</h3>

                                <img src="/src/img/main_questions_plus.png" alt="questions_plus">
                            </div>

                            <p>15% of the issue of Finity tokens is used as a monetary fund for the implementation of your ideas.</p>
                        </div>

                        <div class="question-block hide">
                            <div class="title-flex">
                                <h3>Didn't find the answer to your question?</h3>

                                <img src="/src/img/main_questions_plus.png" alt="questions_plus">
                            </div>

                            <p>15% of the issue of Finity tokens is used as a monetary fund for the implementation of your ideas.</p>
                        </div>
                    </div>    

            </div>

        </div>
    </div>
</section>