<section class="roadmap-three">
  <div class="roadmap-three__bg">
    <img
      class="roadmap-three__bg-one"
      src="/src/img/blurs/fund-three-blur.svg"
      alt=""
    />
  </div>
  <div class="container roadmap-three__container">
    <div class="roadmap-three__body">
      <div class="roadmap-three__items">
        <div class="roadmap-three__item roadmap-three__item-one">
          <h3 class="roadmap-three__title">Apply.</h3>
          <p class="roadmap-three__subtitle">
            Tell Finity Touch about your project
          </p>
        </div>
        <div class="roadmap-three__item roadmap-three__item-two">
          <h3 class="roadmap-three__title">Review.</h3>
          <p class="roadmap-three__subtitle">
            Finity Foundation's team of analysts will review the application and
            contact you.
          </p>
        </div>
        <div class="roadmap-three__item roadmap-three__item-three">
          <h3 class="roadmap-three__title">Success.</h3>
          <p class="roadmap-three__subtitle">
            Successful applicants will be contacted by Finity Foundation
          </p>
        </div>
        <div class="roadmap-three__item roadmap-three__item-four">
          <h3 class="roadmap-three__title">Grants.</h3>
          <p class="roadmap-three__subtitle">
            The unique idea will receive a grant and collaboration with the
            Finity Touch ecosystem.
          </p>
        </div>
        <div class="roadmap-three__item roadmap-three__item-five">
          <h3 class="roadmap-three__title">Ventures.</h3>
          <p class="roadmap-three__subtitle">
            You get funding and marketing strategy from Finity Touch team
          </p>
        </div>
      </div>
      <div class="roadmap-three__img">
        <img
          src="/src/img/roadmap-three.svg"
          alt=""
          class="roadmap-three__img"
        />
      </div>
    </div>
  </div>
</section>