<section class="submit">

            <div class="blur blur-left">
                <img src="/src/img/blurs/fund__submit__blur-1.svg" alt="submit_blur-1">
            </div>

            <div class="blur blur-right">
                <img src="/src/img/blurs/fund__submit__blur-2.svg" alt="submit_blur-2">
            </div>

            <div class="coin-left">
                <img src="/src/img/fund__submit__coin-left.svg" alt="submit_coin-left">
            </div>

            <div class="coin-right">
                <img src="/src/img/fund__submit__coin-right.svg" alt="submit_coin-right">
            </div>
            
    <div class="container submit__container">
        <div class="submit_content">

                <img class="scobka-top" src="/src/img/fund__submit__scobka-top.svg" alt="submit_scobka-top">

                <h1>Submit your application today</h1>

                <div class="buttons-block">
                    <a href="#"><button class="button">Contact Us</button></a>
                    
                    <a href="#"><button class="button">Apply Now</button></a>
                </div>

                <img class="scobka-bottom" src="/src/img/fund__submit__scobka-bottom.svg" alt="submit_scobka-bottom">

                <div class="icons-block">
                    <div class="icons-top icons-flex">
                        <a href="#"><img src="/src/img/icons/fund__submit-icon-1.svg" alt="submit_icon-1"></a>
                        <a href="#"><img src="/src/img/icons/fund__submit-icon-2.svg" alt="submit_icon-2"></a>
                        <a href="#"><img src="/src/img/icons/fund__submit-icon-3.svg" alt="submit_icon-3"></a>
                    </div>
                    
                    <div class="icons-bottom icons-flex">
                        <a href="#"><img src="/src/img/icons/fund__submit-icon-4.svg" alt="submit_icon-4"></a>
                        <a href="#"><img src="/src/img/icons/fund__submit-icon-5.svg" alt="submit_icon-5"></a>
                        <a href="#"><img src="/src/img/icons/fund__submit-icon-6.svg" alt="submit_icon-6"></a>
                    </div>
                </div>

            </div>
    </div>
            
</section>