<section class="roadmap">
  <div class="roadmap__bg">
    <img
      class="roadmap__bg-one"
      src="/src/img/blurs/roadmap__blur.svg"
      alt=""
    />
    <img
      class="roadmap__bg-two"
      src="/src/img/blurs/roadmap__blur-2.svg"
      alt=""
    />
  </div>
  <div class="roadmap_container container">
    <div class="roadmap__wrap">
      <div class="roadmap__text">
        <h2 class="roadmap__title">ROADMAPE</h2>
        <p class="roadmap__subtitle">
          There is a total of 1,000,000,000 FNT tokens. Binance Smart Chain is
          the Issuer of the FNT Token and will distribute FNT tokens in the
          following areas:
        </p>
      </div>
    </div>

    <div class="roadmap__wrapper-line">
      <div class="roadmap__wrapper-flex roadmap__wrapper-flex-two">
        <div class="roadmap__item" >
          
          <div class="roadmap__box">
            <div class="roadmap__list">
              <div class="roadmap__list-item">
                <div class="roadmap__content">
                  <h3 class="roadmap__content__title">MARCH 2022</h3>
                  <p class="roadmap__content__subtitle">
                    The idea and concept was born
                  </p>
                </div>
              </div>
              <div class="roadmap__list-item">
                <div class="roadmap__content">
                  <h3 class="roadmap__content__title">APRIL 2022</h3>
                  <p class="roadmap__content__subtitle">Team building</p>
                </div>
              </div>
              <div class="roadmap__list-item">
                <div class="roadmap__content">
                  <h3 class="roadmap__content__title">MAY 2022</h3>
                  <p class="roadmap__content__subtitle">Investor contracts</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="roadmap__wrapper-flex roadmap__wrapper-flex-three">
        <div class="roadmap__item" >
          <div class="roadmap__box">
            <div class="roadmap__list">
              <div class="roadmap__list-item">
                <div class="roadmap__content">
                  <h3 class="roadmap__content__title">JUNE 2022</h3>
                  <p class="roadmap__content__subtitle">
                    Bringing an idea to life
                  </p>
                </div>
              </div>
              <div class="roadmap__list-item">
                <div class="roadmap__content">
                  <h3 class="roadmap__content__title">JULY 2022</h3>
                  <p class="roadmap__content__subtitle roadmap__content__subtitle-letter">
                    The idea of a big economic game “PlanexLand”
                  </p>
                </div>
              </div>
              <div class="roadmap__list-item">
                <div class="roadmap__content">
                  <h3 class="roadmap__content__title">AUGUST 2022</h3>
                  <p class="roadmap__content__subtitle">
                    Creation of Finity token
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="roadmap__wrapper-flex roadmap__wrapper-flex-four">
        <div class="roadmap__item">
          <div class="roadmap__box">
            <div class="roadmap__list">
              <div class="roadmap__list-item">
                <div class="roadmap__content">
                  <h3 class="roadmap__content__title">SEPTEMBER 2022</h3>
                  <p class="roadmap__content__subtitle">
                    Private sale Finity token
                  </p>
                </div>
              </div>
              <div class="roadmap__list-item">
                <div class="roadmap__content">
                  <h3 class="roadmap__content__title">OCTOBER 2022</h3>
                  <p class="roadmap__content__subtitle">
                    Public sale Finity token
                  </p>
                </div>
              </div>
              <div class="roadmap__list-item">
                <div class="roadmap__content">
                  <h3 class="roadmap__content__title">NOVEMBER 2022</h3>
                  <p class="roadmap__content__subtitle">Marketplace development</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="roadmap__wrapper-flex roadmap__wrapper-flex-five">
        <div class="roadmap__item">
          <div class="roadmap__box">
            <div class="roadmap__list">
              <div class="roadmap__list-item">
                <div class="roadmap__content">
                  <h3 class="roadmap__content__title">DECEMBER 2022</h3>
                  <p class="roadmap__content__subtitle">
                    Start of Planex land development
                  </p>
                </div>
              </div>
              <div class="roadmap__list-item">
                <div class="roadmap__content">
                  <h3 class="roadmap__content__title">JANUARY 2022</h3>
                  <p class="roadmap__content__subtitle">Conduct a land auction</p>
                </div>
              </div>
              <div class="roadmap__list-item">
                <div class="roadmap__content">
                  <h3 class="roadmap__content__title">FEBRUARY 2022</h3>
                  <p class="roadmap__content__subtitle">
                    Planex Land NFT collection release
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="roadmap__wrapper-flex roadmap__wrapper-flex-six">
        <div class="roadmap__item" >
          <div class="roadmap__box">
            <div class="roadmap__list">
              <div class="roadmap__list-item">
                <div class="roadmap__content">
                  <h3 class="roadmap__content__title">2023 STEP-01</h3>
                  <p class="roadmap__content__subtitle">Conduct a land auction</p>
                </div>
              </div>
              <div class="roadmap__list-item">
                <div class="roadmap__content">
                  <h3 class="roadmap__content__title">2023 STEP-02</h3>
                  <p class="roadmap__content__subtitle">
                    Marketplace opening and NFT release
                  </p>
                </div>
              </div>
              <div class="roadmap__list-item">
                <div class="roadmap__content">
                  <h3 class="roadmap__content__title">2023 STEP-03</h3>
                  <p class="roadmap__content__subtitle">
                    Creation of a cryptocurrency exchange
                  </p>
                </div>
              </div>

              <div class="roadmap__list-item">
                <div class="roadmap__content">
                  <h3 class="roadmap__content__title">2023 STEP-04</h3>
                  <p class="roadmap__content__subtitle">
                    Test version of the game
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="roadmap__wrapper-flex roadmap__wrapper-flex-seven">
        <div class="roadmap__item">
          <div class="roadmap__box">
            <div class="roadmap__list">
              <div class="roadmap__list-item">
                <div class="roadmap__content">
                  <h3 class="roadmap__content__title">2024 STEP-01</h3>
                  <p class="roadmap__content__subtitle">
                    Cryptocurrency exchange release
                  </p>
                </div>
              </div>
              <div class="roadmap__list-item">
                <div class="roadmap__content">
                  <h3 class="roadmap__content__title">2024 STEP-02</h3>
                  <p class="roadmap__content__subtitle">Release PlanexLand</p>
                </div>
              </div>
              <div class="roadmap__list-item">
                <div class="roadmap__content">
                  <h3 class="roadmap__content__title">2024 STEP-03</h3>
                  <p class="roadmap__content__subtitle roadmap__content__subtitle-letter">
                    Release of the complete Finity Touch ecosystem
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <img
        class="roadmap__img"
        src="/src/img/roadmap.svg"
        alt=""
      />
      <img
        class="roadmap__img-mobile"
        src="/src/img/roadmap-mobile.svg"
        alt=""
      />
    </div>
  </div>
</section>