<section class="token-hero">
    <div class="container token-hero__container">
        <div class="token-hero__content">
            <div class="token-hero__img">
                <img src="/src/img/token-hero.png" alt="main_back">
            </div>

            <div class="token-hero__blur">
                <img src="/src/img/blurs/token_hero_blur.svg" alt="main_deco">
            </div>

            <div class="token-hero__info">
                <h1>
                    Finity
                    <span>Token</span>
                </h1>
                <p>
                    Finity Token - is an asset that fuels the Finity Touch ecosystem and ensures the development of existing projects and the possibility of discovering new fragments of the ecosystem
                </p>

                <button>
                    Buy Token
                </button>

            </div>
        </div>
        
    </div>
</section>