<section class="token-tokenomic">
     <div class="container">
            
            <div class="blur">
                <img src="/src/img/blurs/tokenomic__blur.svg" alt="tokenomic_blur">
            </div>

            <div class="content">

                <h1><span>FNT</span> Tokenomic</h1>

                <p>
                    There is a total of 1,000,000,000 FNT tokens. Binance Smart Chain is the Issuer of the FNT Token and will distribute FNT tokens in the following areas:
                </p>

                <picture  class="token-tokenomic_img">
                    <source srcset="/src/img/Tokenomic.webp" type="image/webp">
                    <img src="/src/img/Tokenomic.png" alt="tokenomic_img">
                </picture>
            </div>
        </div>
</section>