<section class="token__adress">
    <div class="container">
        <div class="token__adress__content">

                <h1><span>FNT</span> Token Address</h1>

                <h5>The official FNT Token address is:</h5>

                <div class="adress-block">
                    <p>0sbchj8632ebheqipf73p27up8fuuiw82woq291[i0p9e828</p>

                    <a href="#"><button class="button">
                        <img src="/src/img/icons/token_copy_address.svg" alt="section-5_button-icon">
                        Copy
                    </button></a>
                </div>

            </div>
    </div>
            
</section>