@import './src/scss/vars.scss';
@import 'fonts.scss';

.wrapper{
	display: flex;
	flex-direction: column;
	overflow: hidden;
	font-family: $fontFamilyBase;
	font-weight: $fontWeightBase;
	font-size: $fontSizeBase;
	background: $background-color;
	
	color: $main-color;
}

.container{
	margin: 0 auto;
	max-width: $maxWidthContainer;
	padding:0 15px;
	
}

@media(max-width: 940px){
	.hero {order:1;}
	.partner {order:2;}
	.idea {order:3;}
	.grant {order:4;}
	.games{order: 5;}
	.nft{order: 6;}
	.team{order: 7;}
}