@import './src/scss/vars.scss';
@import 'fonts.scss';

.wrapper{
	display: flex;
	flex-direction: column;
	overflow: hidden;
	font-family: $fontFamilyBase;
	font-weight: $fontWeightBase;
	font-size: $fontSizeBase;
	background: $background-color;
	color: $main-color;
}

.container{
	margin: 0 auto;
	max-width: $maxWidthContainer;
	padding:0 15px;
	
}

@media(max-width: 940px){
	
	main{
		display: flex;
		flex-direction: column;
	}
	.partner {
		order:1;
	}
	.idea {
		order:2;
	}
	.grant {
		order:3;
	}
	.games{
		order: 4;
	}
	.nft{
		order: 5;
	}
	.team{
		order: 6;
	}
	.main-questions{
		order: 7;
	}
	.social-media{
		order: 8;
	}
	.contact-us{
		order: 9;
	}

}