.link-contact-us,
.link-buy-token{
    position: relative;
    border-radius: 50px;
    border: 2px solid $main-color;
    

    span{
        position: relative;
        font-weight: 600;
        line-height: 27px;
        color: $main-color;

           
    }
    &:hover{
        background: $gradient-blue-pink;
    } 

    &:nth-child(2){
        margin-left: 16px;
    }
}

.link-contact-us{
    padding: 18px 34px 18px 33px;
}

.link-buy-token{
    // background: $gradient-blue-pink;
    padding: 18px 41px 18px 43px;

}


.select {
    outline: 0;
    border: 0;
    color: #ffffff;
    font-size: 22px;
    line-height: 27px;
    cursor: pointer;
    background-color: #000000;
    padding: 10px;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
}

@media(max-width:1440px){
    .link-contact-us,
    .link-buy-token{

        span{
            font-size: 18px;
            line-height: 23px;
            
        }

        &:hover{
            background: $gradient-blue-pink;
        } 

        &:nth-child(2){
            margin-left: 8px;
        }
    }

    .link-contact-us{
        padding: 15px 22px 15px 21px;
    }

    .link-buy-token{
        // background: $gradient-blue-pink;
        padding: 15px 29px 15px 28px;

    }

}

@media(max-width:1440px){

}


@media(max-width:1440px){

}


@media(max-width:1440px){

}