$fontFamilyBase: "Montserrat", sans-serif;
$fontFamileSecond: "Chakra Petch", sans-serif;
$fontWeightBase: 500;
$fontSizeBase: 22px;
$main-color: #FFFFFF;
$dark-color: #000000;

$hover-color: blue;

$background-color: #0D0D0D;

// Gradients

$gradient-blue-pink: linear-gradient(103.59deg, #54D6FF 13.23%, #C275FF 56.28%, #F36AFF 91.95%);


$gradient-green-yellow:linear-gradient(148.71deg, #B2FF0F 10.47%, #76FFEF 88.29%);
$gradient-blue: linear-gradient(145.54deg, #7673FF 10.4%, #42F4FF 92.38%);
$gradient-orange: linear-gradient(144.66deg, #FF6C56 6.96%, #FF9344 88.16%);

$gradient-yellow-pink:linear-gradient(143.85deg, #FFB78F 11.79%, #DB73FF 85.69%);



// Минимальная ширина страницы
$minWidth: 420px;
// Ширина полотна (макета)
$maxWidth: 1920px;
// Ширина ограничивающего контейнера (0 = нет ограничения)
$maxWidthContainer: 1590px;
// Общий отступ у контейнера
// (300= по 150px слева и справа, 0 = нет отступа)
$containerPadding: 150;